configuration {
  modi: "combi";
  font: "Symbols Nerd Font 22";
  show-icons: true;
  combi-modi: "drun,run";
  display-window: " ";
  display-run: "→ ";
  display-ssh: "  ";
  display-drun: "  ";
  display-combi: " ";
}
@theme "/home/timtro/.config/rofi/themes/flat.rasi"
/* @theme "sidebar" */
