*~
#*#

# Cmake swawn
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Python module junk
__pycache__/
/__pycache__/
/__pycache__/*
*.py[cod]
*.pyc

# Vim packages
vim/vim.symlink/bundle/*
vim/vim.symlink/.netrwhist

# Neovim Packages
neovim/nvim.incfg/bundle/*

# Xmonad compilation/working files
xmonad/xmonad.symlink/xmonad-x86_64-linux
xmonad/xmonad.symlink/xmonad.o
xmonad/xmonad.symlink/xmonad.hi
xmonad/xmonad.symlink/xmonad.errors

# Moc working files:
moc/moc.symlink/cache/tags.db
moc/moc.symlink/cache/moc_version_tag
moc/moc.symlink/softmixer
moc/moc.symlink/pid
moc/moc.symlink/last_directory
moc/moc.symlink/equalizer

# Emacs
emacs/emacs.d.symlink/config.el
emacs/emacs.d.symlink/elpa/
emacs/emacs.d.symlink/ido.last
emacs/emacs.d.symlink/bookmarks
emacs/emacs.d.symlink/backups/
emacs/emacs.d.symlink/auto-save-list/
emacs/emacs.d.symlink/projectile-bookmarks.eld
emacs/emacs.d.symlink/recentf
emacs/emacs.d.symlink/helm-doc.org
emacs/emacs.d.symlink/url/
emacs/emacs.d.symlink/tramp
