*~
#*#

# Cmake swawn
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Python module junk
__pycache__/
/__pycache__/
/__pycache__/*
*.py[cod]
*.pyc

# Vim packages
vim/vim.symlink/bundle/*

# Neovim Packages
neovim/nvim.incfg/bundle/*
neovim/nvim.incfg/.netrwhist
neovim/nvim.incfg/plugin/packer_compiled.lua
neovim/nvim.incfg/lua/colors/dejour.lua

# Xmonad compilation/working files
xmonad/xmonad.symlink/xmonad
xmonad/xmonad.symlink/xmonad-x86_64-linux
xmonad/xmonad.symlink/xmonad.o
xmonad/xmonad.symlink/xmonad.hi
xmonad/xmonad.symlink/xmonad.errors
xmonad/xmonad.symlink/xmonad.state

# Moc working files:
moc/moc.symlink/cache/tags.db
moc/moc.symlink/cache/moc_version_tag
moc/moc.symlink/softmixer
moc/moc.symlink/pid
moc/moc.symlink/last_directory
moc/moc.symlink/equalizer
moc/moc.symlink/playlist.m3u

# Emacs
emacs/emacs.d.symlink/config.el
emacs/emacs.d.symlink/elpa/
emacs/emacs.d.symlink/ido.last
emacs/emacs.d.symlink/bookmarks
emacs/emacs.d.symlink/backups/
emacs/emacs.d.symlink/auto-save-list/
emacs/emacs.d.symlink/projectile-bookmarks.eld
emacs/emacs.d.symlink/recentf
emacs/emacs.d.symlink/helm-doc.org
emacs/emacs.d.symlink/url/
emacs/emacs.d.symlink/tramp

# Symbolic link to define the colorscheme without modifying xmonad.hs
colours/Xresources/dejour
colours/kitty/dejour.conf
colours/osc/dejour.seq
colours/nvim/dejour.vim
colours/nvim/dejour-gui.vim

# MPD
mpd/mpd.symlink/mpd.db
mpd/mpd.symlink/mpd.log
mpd/mpd.symlink/mpd.pid
mpd/mpd.symlink/mpdstate

# Ncmpcpp
ncmpcpp/ncmpcpp.symlink/error.log

# Inkscape
inkscape/inkscape.incfg/extension-errors.log
inkscape/inkscape.incfg/preferences.xml
inkscape/inkscape.incfg/extensions/inktex/texput.log

# Ranger
ranger/ranger.incfg/bookmarks
ranger/ranger.incfg/history
ranger/ranger.incfg/tagged
