# Cmake swawn
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Python module junk
__pycache__/
/__pycache__/
/__pycache__/*
*.py[cod]
*.pyc

# Vim packages
vim/vim.symlink/bundle/*
vim/vim.symlink/bundle/FuzzyFinder
vim/vim.symlink/bundle/L9
vim/vim.symlink/bundle/YouCompleteMe
vim/vim.symlink/bindle/Vundle.vim

# Xmonad compilation files
xmonad/xmonad.symlink/xmonad-x86_64-linux
xmonad/xmonad.symlink/xmonad.o
xmonad/xmonad.symlink/xmonad.hi
xmonad/xmonad.symlink/xmonad.errors